@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
  ), ()
);

$theme-colors: map-merge(
  $grays,
  $theme-colors
);

$theme-colors: map-merge(
  $colors,
  $theme-colors
);

@import "~bootstrap/scss/bootstrap";

body, html {
  position: relative;
}

.bg-blur {
  background-color: rgba(255,255,255,.85);
  backdrop-filter: blur(10px);
}

.bg-blur-dark {
  background-color: rgba(0,0,0,.7);
  backdrop-filter: blur(10px);
}

.album-img {
  max-width: 300px !important;
}

.main-column {
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.main-navbar-column {
  width: 200px;
  position: sticky;
  background-color: $white;
  box-shadow: $box-shadow;
  border-right: $border-width solid $border-color;
  z-index: 1030;
}

.main-navbar {
  flex-direction: column;

  .navbar-nav {
    width: 100%;
    flex-direction: column;
  }

  .nav-link {
    border-radius: $rounded-pill;
    padding-left: $spacer !important;
    padding-right: $spacer !important;
  }

  .nav-link.active {
    background-color: $gray-300;
  }
}
